### mysql docker 테스트
> mysql 사용법의 구체적인 부분은 별도 강의인 **SQL/DB(MySQL) 기본과 활용** 를 참고하시면 좋을 것 같습니다. <br>
> 여기서는 간략히 파이썬으로 mysql docker 를 사용하는 부분에 대한 코드를 사용해서, 테스트만 진행합니다.

##### 0. pymysql 라이브러리 설치하기

In [1]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 KB 1.3 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

##### 1. 라이브러리 가져오기

In [2]:
import pymysql

##### 2. 접속하기

In [9]:
db = pymysql.connect(
    host='myjupyterdb', 
    port=3306, 
    user='root', 
    passwd='12345678', 
    db='funcoding', 
    charset='utf8')

##### 3. 커서 가져오기

In [10]:
cursor = db.cursor()

##### 4. SQL 구문 만들기 (CRUD SQL 구문 등)

In [11]:
sql = '''
    CREATE TABLE product (
        PRODUCT_CODE VARCHAR(20) NOT NULL,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(2),
        PRIMARY KEY(PRODUCT_CODE)
    );
'''

##### 5. SQL 구문 실행하기

In [12]:
cursor.execute(sql)

OperationalError: (1050, "Table 'product' already exists")

##### 6. DB에 Complete 하기

In [13]:
db.commit()

##### 7. DB 연결 닫기

In [14]:
db.close()

##### 8. 테이블 확인하기
1. 다음 코드 실행 후, product 테이블이 있는지 확인하기
2. 터미널에서 이미지/컨테이너 삭제 후, 다시 이미지/컨테이너 생성하기
```bash
docker stop $(docker ps -a -q)
docker rm $(docker ps -a -q)
docker rmi -f $(docker images -q)
docker build --tag mysqldb -f Dockerfile_MYSQL .
docker run -d -p 3307:3306 --name mydb -v "각자의PC폴더":/var/lib/mysql mysqldb
```

3. 다시 다음 코드 실행헤서, product 테이블이 계속 있는지 확인하기

In [16]:
import pymysql

db = pymysql.connect(
    host='myjupyterdb', 
    port=3306, 
    user='root', 
    passwd='12345678', 
    db='funcoding', 
    charset='utf8')

cursor = db.cursor()

sql = '''
    SHOW TABLES;
'''
cursor.execute(sql)
result = cursor.fetchone()
print(result)
db.close()

('product',)

### mysql docker 에 접속하기

#### 테이블 확인하기 코드
- 기존 코드에서
  - host 를 mysqldb (docker run 시 --link 옵션으로 설정한 컨테이너를 가리킬 이름) 로 바꾸고, 
  - port 를 3306 으로 변경한 것임 (docker run 시 호스트 PC 포트가 아니라, mysqldb 컨테이너에서 오픈한 포트)

In [17]:
import pymysql

db = pymysql.connect(
    host='myjupyterdb', 
    port=3306, 
    user='root', 
    passwd='12345678', 
    db='funcoding', 
    charset='utf8')

cursor = db.cursor()

sql = '''
    SHOW TABLES;
'''
cursor.execute(sql)
result = cursor.fetchone()
print(result)
db.close()

OperationalError: (2003, "Can't connect to MySQL server on 'mysqldb' ([Errno -2] Name or service not known)")